// Copyright (c) Brock Allen & Dominick Baier. All rights reserved.
// Licensed under the Apache License, Version 2.0. See LICENSE in the project root for license information.


using System.Collections.Generic;
using IdentityServer4.Models;

namespace {{packageName}}
{
    /// <summary>
    /// Identity Server configuration
    /// </summary>
    public static class Config
    {
        /// <summary>
        /// Define the Identity resource claims
        /// </summary>
        public static IEnumerable<IdentityResource> GetIdentityResources()
        {
            return new IdentityResource[]
            {
                new IdentityResources.OpenId(),
                new IdentityResources.Profile(),
            };
        }

        /// <summary>
        /// Define the API resources used by client credentials grant
        /// </summary>
        public static IEnumerable<ApiResource> GetApis()
        {
            return new ApiResource[]
            { {{#authMethods}}{{#isOAuth}}{{#scopes}}
                new ApiResource("{{scope}}", "{{description}}"){{^-last}},{{/-last}}{{/scopes}}{{/isOAuth}}{{/authMethods}}
            };
        }

        /// <summary>
        /// Define the clients. This demo defines the Swagger UI as a client.
        /// </summary>
        public static IEnumerable<Client> GetClients()
        {
            return new[]
            {
                // Client for Swagger UI
                new Client
                {
                    ClientId = "swagger",
                    ClientSecrets = new List<Secret>
                    {
                        new Secret("secret".Sha256())
                    },
                    AllowedGrantTypes = GrantTypes.ResourceOwnerPassword,
                    AllowedScopes = new string[] 
                    { {{#authMethods}}{{#isOAuth}}{{#scopes}}
                        "{{scope}}"{{^-last}},{{/-last}}{{/scopes}}{{/isOAuth}}{{/authMethods}}
                    },
                    RedirectUris = new [] { "/swagger/oauth2-redirect.html" }
                },
            };
        }
    }
}